Source: pt-os-mods
Section: utils
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://pi-top.com/

Package: pt-os-mods
Architecture: armhf
Depends: ${misc:Depends},
 dpkg (>= 1.19.7),
# Used for 'ischroot' command
 debianutils (>= 4.8.6.1),
 raspi-config (>= 20200601),
# Used for 'xset' and 'xrandr' commands
 x11-xserver-utils,
# Gesture support for pi-top [4] touchscreen
 touchegg
Replaces: pt-display
Description: pi-top OS Config Management
 Manages pi-top modifications to the base operating system
 configuration
