Source: pt-os-mods
Section: utils
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Standards-Version: 3.8.4
Homepage: https://pi-top.com/

Package: pt-os-mods
Architecture: armhf
Depends: ${misc:Depends}
Recommends: lightdm
Description: pi-top Display Management
 Configures lightdm to enable root access to the display.
