[Unit]
Description=pi-top desktop layout configuration service

[Service]
Type=oneshot
ExecStart=/usr/bin/pt-desktop-scale-display

[Install]
WantedBy=multi-user.target
