[Unit]
Description=pi-topOS system modifications service
Documentation=https://knowledgebase.pi-top.com/knowledge
# Required to determine what type of device
After=pt-device-manager.service

[Service]
Type=simple
ExecStart=/usr/lib/pt-os-mods/pt-os-mods.sh

[Install]
WantedBy=graphical.target
