[Unit]
Description=Check for pi-top settings in Raspberry Pi EEPROM and apply updates

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/pt-rpi-eeprom-update

[Install]
WantedBy=graphical.target
