ACTION=="add"                                             \
, ATTR{idVendor}=="222a"                                  \
, ATTR{idProduct}=="0001"                                 \
, ENV{DISPLAY}=":0"                                       \
, RUN+="/usr/lib/pt-os-mods/hotplug_display.sh"
